@font-face {
    font-family: 'CustomTypewriter';
    src: url('typewriter.ttf') format('truetype');
}

body {
    background-color: white;
    background: url('paper.jpg');
    font-family: 'CustomTypewriter', monospace;
    color: black;
    padding: 40px;
    line-height: 1.6;
    text-align: justify;
}

.typewriter {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.content, .footer {
    text-align: justify;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    margin-top: 20px;
}

p, li {
    font-size: 18px;
    margin-bottom: 20px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
}

li::before {
    content: "• ";
    color: black;
    font-weight: bold;
}
