@font-face {
    font-family: 'CustomTypewriter';
    src: url('typewriter.ttf') format('truetype');
}

:root {
    --main-text-color: rgba(75, 37, 37, 0.973);
}

body {
    background-color: #f9f9f9; /* Pleasant, soft white for the overall site */
    font-family: 'CustomTypewriter', monospace;
    color: var(--main-text-color);
    padding: 20px;
    line-height: 1.6;
    text-align: justify;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.page {
    max-width: 8.5in;
    width: 90%;
    margin: 5vh auto;
    padding: 5vh 10%;
    background: url('paper.jpg') no-repeat center center; /* Paper background only for the .page */
    background-size: cover;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.23);
    border-radius: 10px; /* Optional: Add some rounding to the .page container for a smoother look */
}

@media (max-width: 768px) {
    .page {
        background-size: contain;
    }
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.content, .footer {
    text-align: justify;
}

.pagenumber {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.pagenumber p {
    font-size: 14px;
}

h1 {
    margin-top: 40px;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 20px;
    margin: 0;
    margin-top: 40px;
    padding: 0;
}

p {
    font-size: 18px;
    margin: 0;
    padding: 0;
    margin-top: 0px;
}

a {
    color: var(--main-text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0px;
    margin-left: 0px;
}

.flex-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.flex-list li .title {
    min-width: 180px;
    margin-right: 10px;
}

.flex-list li .content {
    flex-grow: 1;
}

.flex-list li ul {
    width: 80%;
    margin: 0 auto;
    padding-left: 40px;
}

.flex-list li ul li {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

html {
    scroll-behavior: smooth;
}

.faq-answer {
    display: flex;
    align-items: baseline;
    margin-left: 20px;
}

.faq-answer p {
    margin: 0;
    padding-left: 5px; /* Adjust padding as needed */
}
